
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/details.css">
    <link rel="stylesheet" href="/bower_components/font-awesome/css/font-awesome.min.css">

</head>
<body>

<div class="organise">
    <div class="wrap">
        <form method="POST" action="/join">
            <div class="form-header"><h2> Welcome to Game #{{detailsCtrl.game.game_id}}!
                <button type="button" class="btn btn-primary btn-lg">{{detailsCtrl.game.min_player_cnt}} slot left: Join Now!</button></h2></div>
            <div class="form-body">
                <!--Game Information-->
                <!--Date and Time-->
                <legend><i class="fa fa-gamepad"></i> Game Information - Game #{{detailsCtrl.game.game_id}}</legend>
                <form role="form">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-xs-6 col-sm-6 col-md-6">
                                <label >Game Date:</label>
                                <div class="panel panel-primary"><p class="bg-success">{{detailsCtrl.game.date | date:"EEE, MMM d, ''yy"}}</p></div>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-6">
                                <label>Game Time:</label>
                                <div class="panel panel-primary"><p class="bg-info">{{detailsCtrl.game.start_time | date:"EEE, MMM d, ''yy"}} -
                                    {{detailsCtrl.game.end_time | date:"EEE, MMM d, ''yy"}} </p></div>
                            </div>
                        </div>
                    </div>
                    <!--Venue and Pitch Type-->
                    <div class="form-group">
                        <div class="row">
                            <div class="col-xs-6 col-sm-6 col-md-6">
                                <label>Game Venue:</label>
                        <div class="panel panel-primary"><p class="bg-default"><a href="{{detailsCtrl.game.url}}">{{detailsCtrl.game.location}}</a></p></div>
                        </div>
                            <div class="col-xs-6 col-sm-6 col-md-6">
                                <label>Pitch Type:</label>
                            <div class="panel panel-primary"><p class="bg-default">{{detailsCtrl.game.pitch_type}}</p></div>
                            </div>
                        </div>
                    </div>
                    <!--Players and Price-->
                    <form role="form">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-xs-6 col-sm-6 col-md-6">
                                    <label >Players Allowed:</label>
                                    <div class="panel panel-primary"><p class="bg-default">{{detailsCtrl.game.min_player_cnt}} -
                                        {{detailsCtrl.game.max_player_cnt}} players</p></div>
                                </div>
                                <div class="col-xs-6 col-sm-6 col-md-6">
                                    <label>Fixed Price/pax: </label>
                                    <div class="panel panel-primary"><p class="bg-default"> SGD ${{detailsCtrl.game.price_per_booking}}.00 </p></div>
                                </div>
                            </div>
                        </div>
                    </form>

                        <div class="form-group">
                            <div class="row">
                            <div class="col-xs-6 col-sm-6 col-md-6">
                                <label>Current Players:</label>
                                <div class="panel panel-primary"><p class="bg-warning">({{detailsCtrl.game.min_player_cnt-detailsCtrl.game.min_player_cnt}})/
                                    {{detailsCtrl.game.max_player_cnt}} </p></div>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-6">
                                <label>Organise By:</label>
                                <div class="panel panel-primary"><p class="bg-warning">{{detailsCtrl.game.organizer_user_id}} </p></div>
                            </div>
                        </div>
                        </div>


                <!--Venue information-->
                    <!--image-->
                <legend><i class="fa fa-globe"></i> Venue Information - {{detailsCtrl.game.location}}</legend>
                <div class="row">
                    <div class="col-xs-6 col-sm-6 col-md-6">
                        <img class="gameimage" src="/image/{{detailsCtrl.game.image_dir}}" alt="">
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6">
                        <div class="panel panel-default">
                            <!-- Default panel contents -->
                            <div class="panel-heading">{{detailsCtrl.game.location}}</div>
                            <div class="panel-body">
                                <h4>Address: {{detailsCtrl.game.address}}</h4>
                            </div>
                            <!-- List group -->
                            <ul class="list-group">
                                <li class="list-group-item">Region: {{detailsCtrl.game.region}}</li>
                                <li class="list-group-item"><p class="bg-success">Pitch Info: {{detailsCtrl.game.pitch_info}} </p></li>
                                <li class="list-group-item"><a href="{{detailsCtrl.game.url}}">Go to Venue's Webpage</a></li>

                            </ul>
                        </div>
                    </div>
                </div>
                    <!--join game-->
                    <legend><i class=" fa fa-smile-o"></i> Join Game </legend>
                    <div class="row">
                        <div class="col-xs-6 col-sm-6 col-md-6">
                            <div class="form-group">
                                <select class="form-control" id="joingame">
                                    <option selected ="selected" value="1">1 Player</option><option value="2">2 Players</option><option value="3">3 Players</option><option value="4">4 Players</option><option value="5">5 Players</option><option value="6">6 Players</option>
                                    <option value="7">7 Players</option><option value="8">8 Players</option><option value="9">9 Players</option><option value="10">10 Players</option><option value="11">11 Players</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-xs-6 col-sm-6 col-md-6">
                            <input class="btn btn-success btn-block btn-lg" type="submit" value="CONFIRM">
                        </div>

                    </div>

                </div>
            </div>
        </form>
    </div>
</div>

</body>
