<!DOCTYPE html>
<head>
<link rel="stylesheet" href="/list.css">
</head>

<div >
    <div class="col label first">
        <h4>Are you ready for new Challenges?<br>Don't wait any longer and Join Games now!</h4>
        <br>

        <div class="buttons"><a id="button1" href="#" class="listbutton">Play Now</a><a id="button2" href="#" class="listbutton">Search for Games </a></div>
        <br><br>

        <!-- Cards-->
        <div class="container">
        <div ng-repeat="f in fblistCtrl.games">
        <div class="col-sm-6 col-md-3">
            <div class="thumbnail">
                <h4>{{ f.date | date:"EEE, MMM d, ''yy" }} </h4>
                <h5>{{ f.start_time | date:"hh 'o''clock' a, zzzz" }} - {{ f.end_time | date:"hh" }}</h5>
                <div class="imagecontainer">
                <img src="/image/{{f.image_dir}}" alt="No Image Found" class="gameimage"></div>
                <div class="caption">
                    <h4>{{f.location}}</h4>
                    <h5>{{f.pitch_type}}</h5>
                    <h5> Current Players: {{f.max_player_cnt - f.min_player_cnt}}/ {{f.max_player_cnt}}</h5>
                    <p>Fixed Price: {{f.price_per_booking}} per Player</p>
                    <p><button ng-click="fblistCtrl.displayDetails(f.game_id)" class="btn btn-success" role="button">Join Now! </button> <button ng-click="fblistCtrl.displayDetails(f.game_id)" class="btn btn-info" role="button">More Info</button></p>
                </div>
            </div>
        </div>
        </div>
    </div>



        <!--<div class="container">-->
        <!--<div ng-repeat="f in fblistCtrl.games">-->
            <!--<div class = "col-sm-6 col-md-3">-->
                <!--<h4>{{ f.date | date:"dd MMM yyyy" }}</h4>-->
                <!--<h5>{{ f.start_time | date:"hh:mm" }} - {{ f.end_time | date:"hh" }}</h5>-->
                <!--<div    class = "thumbnail">-->
                    <!--<img class="gameimage" src = "/image/{{f.image_dir}}" alt = "Generic placeholder thumbnail">-->
                <!--</div>-->
                <!--<h5 >{{f.location}} {{f.pitch_type}} </h5>-->
                <!--<h5> Current Players: {{f.max_player_cnt - f.spots_left}}/ {{f.max_player_cnt}}</h5>-->
                <!--<h5>{{f.spots_left}} Players Needed</h5>-->
                <!--<p>$ {{f.price_per_booking}}  per player</p>-->
                <!--<div class ="caption">-->
                    <!--<p>-->
                        <!--<a href = "#" class = "btn btn-primary" role = "button"> Join Now! </a>-->
                    <!--</p>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
        <!--</div>-->
        <br><br>

        <div class="container" id="home_jumbotron">
            <div class="jumbotron">
                <h1>Be a Host in Football Kaki!</h1>
                <p>Got a Game but could not find enough players? Why not post your game here and make new friends!</p>

                <form class="form-inline">
                    <fieldset>
                        <!--Venue Dropdown-->
                        <label class="control-label"><strong>VENUE</strong></label>
                        <select class="form-control" name="venue" id="listofv" ng-model="fborganiseCtrl.selectedVenue">
                            <option ng-repeat="v in fborganiseCtrl.venues" value="{{v.location}}">{{v.location}}</option>
                        </select>

                        <label class="control-label"><strong>DATE</strong></label>
                        <input class="form-control"  type="date" id="datepicker">
                        <button type="button" class="btn btn-success"><a href="/organise">Start Organizing!</a></button>
                    </fieldset>
                </form>
                </div>
            </div>
        </div>

    </div>
    </div>




