<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/organise.css">
    <link rel="stylesheet" href="/bower_components/font-awesome/css/font-awesome.min.css">
    <script src="/bower_components/angular-file-upload/dist/angular-file-upload.js"></script>
</head>
<body>

<div class="organise">
    <div class="wrap">

        <form method="POST" action="/org">
            <div class="form-header"><h2>Organise a Game</h2></div>
            <div class="form-body">
                <h4><i class="fa fa-exclamation"></i> Note: You must have a venue booking and you are required to provide proof in this page</h4>

                <!--Venue Information-->
                <legend><i class="fa fa-globe"></i> Venue Information</legend>
                    <form role="form">
                        <div class="form-group">
                            <label for="listofv">Select Venue (select one):</label>
                            <select name="venue_id" id="listofv" ng-model="fborganiseCtrl.selectedVenue">
                                <option value="" selected> Please choose one venue for your game here</option>
                                <option ng-repeat="v in fborganiseCtrl.venues" value="{{v.venue_id}}">{{v.location}}</option>
                            </select>
                        </div>
                    </form>

                    <div>
                        <label for="pitch_info">Enter Pitch/Court info </label>
                        <input type="text" required name="pitch_info" id="pitch_info"
                               placeholder=" Pitch / Court information (e.g. pitch 3)">
                    </div>
                        <label>Select Pitch Type</label>
                        <div class="col-xs-18">
                            <div class="btn-group" data-toggle="buttons">
                                <label class="btn active">
                                    <input type="radio" name='pitch_type' value="5 a side" checked><i class="fa fa-circle-o fa-2x"></i><i
                                        class="fa fa-check-circle-o fa-2x"></i><span> 5 A SIDE</span>
                                </label>
                                <label class="btn" >
                                    <input type="radio" name='pitch_type' value="7 a side"><i class="fa fa-circle-o fa-2x"></i><i
                                        class="fa fa-check-circle-o fa-2x"></i><span> 7 A SIDE</span>
                                </label>
                                <label class="btn" >
                                    <input type="radio" name='pitch_type' value="11 a side"><i class="fa fa-circle-o fa-2x"></i><i
                                        class="fa fa-check-circle-o fa-2x"></i><span> 11 A SIDE</span>
                                </label>
                            </div>
                            </div>

                <!--Game information-->
                <legend><i class="fa fa-gamepad"></i> Game Information</legend>
                        <div class="row">
                                <div class="col-xs-4 col-sm-4 col-md-4">
                                    <label for="date">Date</label>
                                    <div class="form-group">
                                        <input type="date" name="date" min="2016-01-01" max="2016-12-31" id="date"  class="form-control "
                                               placeholder="Date (e.g. 2016/04/20)"></div>
                                </div>
                                <div class="col-xs-4 col-sm-4 col-md-4">
                                    <label for="start_time">Start Time</label>
                                    <div class="form-group">
                                        <input type="time" step="1800" name="start_time" id="start_time" class="form-control "
                                               placeholder="Start Time (e.g. 19:00)" tabindex="2"></div>
                                </div>
                                <div class="col-xs-4 col-sm-4 col-md-4">
                                    <label for="end_time">End Time</label>
                                    <div class="form-group">
                                        <input type="time" step="1800" name="end_time" id="end_time" class="form-control"
                                               placeholder="End Time (e.g. 21:00)" tabindex="2">
                                    </div>
                                </div>
                            </div>
                        <div class="row">
                            <div class="col-xs-4 col-sm-4 col-md-4">
                                <label for="min_player_cnt">Set Minimum Players</label>
                                <div class="form-group">
                                    <input type="number" min="0" max="50" step="1" name="min_player_cnt" id="min_player_cnt" class="form-control "
                                           placeholder="Min no. of players" tabindex="2">
                                </div>
                            </div>
                            <div class="col-xs-4 col-sm-4 col-md-4">
                                <label for="max_player_cnt">Set Maximum Players</label>
                                <div class="form-group">
                                    <input type="number" min="0" max="50" step="1" name="max_player_cnt" id="max_player_cnt" class="form-control"
                                           placeholder="Max no. of players" tabindex="2">
                                </div>
                            </div>
                            <div class="col-xs-4 col-sm-4 col-md-4">
                                <label for="price_per_booking">Price per Booking</label>
                                <div class="input-group">
                                <span class="input-group-addon">$</span>
                                <input type="number" min="5" max="100" step="0.5" name="price_per_booking" id="price_per_booking" class="form-control"
                                    placeholder="Minimum $ 5.00" >
                                </div>
                            </div>
                        </div>
                            <label>Show proof of venue booking (Note: This image will be shown to all in game
                                listing)</label>
                            <input type="file" accept="image/*" nv-file-select uploader="ctrl.uploader" ng-model="ctrl.imageName">
                            <br>

                <div class="row">
                    <div class="col-xs-12 col-md-12"><input type="submit" value="Submit" class="btn btn-success btn-block btn-lg" ></div>
                </div>
            </div>
        </form>
    </div>
</div>

</body>
</html>