<!DOCTYPE html>
<html lang="en" ng-app="FOOTBALLApp">
<head>
    <meta charset="UTF-8">
    <title>Welcome to Football Kakis</title>

    <link rel="stylesheet" href="index.css">
    <script src="/bower_components/angular/angular.js"></script>
    <script src="/bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="/bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="/bower_components/angular-http-auth/src/http-auth-interceptor.js"></script>
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/bower_components/tether/dist/js/tether.min.js"></script>
    <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

    <script src="/football.js"></script>
    <script src="/games.js"></script>

</head>
<body ng-controller="ViewsLoginCtrl as ctrl">

    <header role="banner">
        <nav id="navbar-primary" class="navbar" role="navigation">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-primary-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="collapse navbar-collapse" id="navbar-primary-collapse">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="#/organise">Organise Game</a></li>
                        <li><a href="#/protected/menu">Join Game</a></li>
                        <li class="logo"><a href="#/list"><img width="250" id="logo-navbar-middle" src="/image/logo.png" alt="Logo Thing main logo"></a></li>
                        <li><a href="#">Watch</a></li>
                        <li><a href="#/login">Log In/ Sign Up</a></li>

                        <!--<li><div class="fb-like" data-href="http://1bba97c9.ngrok.io/" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div></li>-->
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>
    </header><!-- header role="banner" -->
<!--ui view-->
    <span>
            {{ ctrl.status.message }}
        </span>

    <div ui-view class="box"></div>


</body>
</html>