

h4, h5, p {
    color: black
}

h3 {
    font-family: 'Lora', serif;
    font-weight: bold;
    font-style: italic;
    margin-top: 0px !important;
}

.buttons {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.listbutton {
    text-decoration: none;
    color: white;
    height: auto;
    background: #F2385A;
    margin: 5px;
    padding: 5px;
    position: relative;
    font-size: 20px;
    border-radius: 10px;
    box-shadow: 0px 10px 0px 0px #f02046, 0px 0px 10px 0px #bbb;
    transition: all 0.2s;
}
.listbutton:active {
    top: 10px;
    box-shadow: 0px 10px 0px 0px #f02046;
}

#button1 {
    background-color: #F2385A;
}

#button2 {
    background-color: #3498DB;
    box-shadow: 0px 10px 0px 0px #258cd1;
}
#button2:active {
    box-shadow: 0px 7px 0px 0px #258cd1;
}

#home_jumbotron {
    align-content: center;
    display: block;
}

label {
    font-size:20px;
    color: black;
}

.gameimage {
    min-width: 250px;
    min-height: 250px;
    max-width: 250px;
    max-height: 250px;
}

.thumbnail {
    width: 280px;
    height: 500px;
}
